<%- include('shared/header.ejs')  %> 
    <div class="container my-5">
        <div class="col-md-12 m-auto text-right">
            <a class="add p-2 btn" data-toggle="modal" data-target="#addNote"><i class="fas fa-plus-circle"></i> Add New</a>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="addNote" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form action="/addNote" method="POST">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                    </div>
                    <div class="modal-body">
                        <input placeholder="Type Title" name="title" class="form-control" type="text">
                        <textarea class="form-control my-2" placeholder="Type your note" name="desc" id="" cols="30" rows="10"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-info"><i class="fas fa-plus-circle"></i> Add Note</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal fade" id="editNote" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form action="/updateNote" method="POST">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="_id" id = 'noteID'>
                        <input placeholder="Type Title" name="title" class="form-control" type="text" id = "title">
                        <textarea id = "desc" class="form-control my-2" placeholder="Type your note" name="desc" id="" cols="30" rows="10"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success"><i class="fas fa-plus-circle"></i> Edit Note</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- ==========================Notes=============================== -->
    <!-- Modal -->
    <div class="modal fade" id="deleteNote" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form action="/delete" method="POST">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Note</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <input hidden type="text" id = 'delete' name = 'delete'>
                        <h5 class = "text-center text-danger m-0 p-0">Are You Sure?</h5>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete Note</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container">
        <% if (notes.length == 0) { %>
            <h1 class = "text-center text-white my-5">No Notes</h1>
        <% } %>
        <div class="row">
            <% for( let i = 0; i < notes.length; i++ ) { %>
                <div class="col-md-4 my-4">
                    <div class="note p-4">
                        <h3 class="float-left text-capitalize"><%= notes[i].title %></h3>
                        <a href="#" data-toggle="modal" data-target="#editNote">
                            <i class="fas fa-edit float-right edit" onclick = "getDetails('<%= notes[i].title %>' , '<%= notes[i].desc %>' , '<%= notes[i]._id %>')"></i>
                        </a>
                        <a data-toggle="modal" onclick = "getID('<%= notes[i]._id %>')" data-target="#deleteNote" href="/">
                            <i class="fas fa-trash-alt float-right px-3 del"></i>
                        </a>
                        <span class="clearfix"></span>
                        <p class = "text-justify"><%= notes[i].desc %></p>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
<%- include('shared/footer.ejs')  %> 